@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
  height:100vh;
  color: #000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #F24E1E;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.animate-load{
  animation: load 0.3s ease-in-out;
}

@keyframes load{
0%{
  opacity: 0;
  transform: translateY(10%);
}
100%{
  opacity: 1;
  transform: translateY(0%);
}
}
